/* Fonte */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

/* Estilização Scroll bar */
::-webkit-scrollbar-track {
    background-color: #0080ff;
    border: none;
    
}
::-webkit-scrollbar {
    width: 8px;
    background: #02141800;
}
::-webkit-scrollbar-thumb {
    background: #ba09fb;
    border-radius: 15px;
}

/* Estilização main */

body{
    width: 100%;
    height: 100%;
    padding: 5px;
    background: linear-gradient(90deg, rgba(41,160,170,1) 0%, rgba(203,22,178,1) 52%, rgba(89,0,255,1) 100%);
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 40vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 30px;
    margin: 10% 30% 10%;
    box-shadow: 14px 17px 5px -4px rgba(84,84,84,0.56);
    position: relative;

}

.toDoContent h2{
    margin: 0;
    padding-bottom: 5%;
    padding-inline: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10%;
    color: rgb(220, 106, 6);
    font-size: 2vw;

}

.toDoContent{
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: none;
    padding-bottom: 10%;
    width: 30vw;
    height: auto;
    
}


.search{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5%;
}

input{
    width: 25vw;
    height: 5vh;
    padding: 2%;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.084);
    border: none;
    outline: none;
}

input::placeholder{
    font-size: 15px;
}

input:hover{
    background-color: rgba(67, 65, 65, 0.121);
}

button{
    width: 5vw;
    height: 5vh;
    border-radius: 15px;
    border: none;
    outline: none;
    background-color: blueviolet;
    font-size: 15px;
    color: #fff;
    margin-left: 2%;
    cursor: pointer;
}

button:hover{
    background-color: rgb(116, 42, 185);
}

ul li{
    list-style: none;
    font-size: 15px;
    user-select: none;
    cursor: pointer;
    padding: 12px 8px 12px 40px;
    display: flex;
    position: relative;

   

}

ul li.check{
    text-decoration: line-through;
    color: rgb(103, 103, 103);

}

ul li.check::before{
    background-image: url(img/caixa-de-selecao-com-sinal-de-verificacao.png);
}

ul li::before{
    content: '';
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 28px;
    height: 28px;  
    background-image: url(img/caixa-de-selecao-vazia.png);
    background-size: cover;
    background-position: center;
    left: 8px;
    top: 12px;


}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 23px;
    color: #ff9705;
    line-height: 40px;
    text-align: center;
    font-weight: 700;
}

ul li span:hover{
    background-color: #fb5858d7;
    border-radius: 50%;
    color: #fff;
}

/* Responsividade */

@media screen and (max-width: 430px){ 
  .container{
    width: 80vw;
    height: auto;
    margin: 10% 10% 10%;
  }  

  .toDoContent h2{
    font-size: 5vw;
    padding-inline: 28%;

  }

   .toDoContent{
    width: 70vw;
  }

  input{
    width: 50vw;
    height: 5.5vh;
    padding: 3%;
  }

  button{
    width: 20vw;
    height: 5.5vh;
  }

  ul li::before{
    width: 20px;
    height: 20px;  
  }

  ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 24px;
    height: 24px;
    font-size: 20px;
    color: #ff9705;
    line-height: 40px;
    text-align: center;
    font-weight: 600;
  }

  input::placeholder{
    font-size: 15px;
}

 
}

@media screen and (max-width: 430px){
    input::placeholder{
        font-size: 13px;
    }
}

@media screen and (max-width: 270px){
    input::placeholder{
        font-size: 13px;
    }

    ul li{
        list-style: none;
        font-size: 12px;
        user-select: none;
        cursor: pointer;
        padding: 12px 8px 12px 50px;
        display: flex;
        position: relative;     
    
    }
}

